@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}

.content-wrapper p {
  color: #2d4059;
}
.content-wrapper .head-title {
  font-size: 24px;
  letter-spacing: -2px;
}
@media (max-width: 991.98px) {
  .content-wrapper .head-title {
    font-size: 20px;
    letter-spacing: -1px;
  }
}
@media (max-width: 767.98px) {
  .content-wrapper .head-title {
    font-size: 12px;
    letter-spacing: 0px;
  }
}
.content-wrapper ::-moz-placeholder {
  color: #b0a8a8;
}
.content-wrapper ::placeholder {
  color: #b0a8a8;
}
.content-wrapper .main-title {
  font-size: 44px;
  letter-spacing: -2px;
}
@media (max-width: 991.98px) {
  .content-wrapper .main-title {
    font-size: 28px;
    letter-spacing: -1px;
  }
}
@media (max-width: 767.98px) {
  .content-wrapper .main-title {
    font-size: 16px;
    letter-spacing: 0px;
  }
}
.content-wrapper .jti-logo {
  max-width: 170px;
}
@media (max-width: 991.98px) {
  .content-wrapper .jti-logo {
    max-width: 140px;
  }
}
@media (max-width: 767.98px) {
  .content-wrapper .jti-logo {
    max-width: 100px;
  }
}
.content-wrapper .input-group {
  width: 100%;
  box-shadow: -1px 24px 26px -8px rgba(0, 0, 0, 0.15);
}
.content-wrapper .input-group .search-input {
  font-size: 20px;
}
@media (max-width: 991.98px) {
  .content-wrapper .input-group .search-input {
    font-size: 16px;
  }
}
.content-wrapper .year-input {
  border-radius: 8px !important;
}
.content-wrapper .btn-apply {
  background-color: #ea5455;
  color: white;
  font-size: 16px;
}
.content-wrapper .main-content {
  margin-top: 15%;
}
@media (max-width: 991.98px) {
  .content-wrapper .main-content {
    margin-top: 20%;
  }
}
@media (max-width: 767.98px) {
  .content-wrapper .main-content {
    margin-top: 30%;
  }
}
@media (max-width: 575.98px) {
  .content-wrapper .main-content {
    margin-top: 40%;
  }
}
.content-wrapper .content .filter-box {
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content-wrapper .content .filter-box .body-filter .checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
}
.content-wrapper .content .thesis-list-box .pagination-nav {
  font-size: 12px;
}
.content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title {
  font-size: 20px;
  color: #ea5455;
}
@media (max-width: 991.98px) {
  .content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title {
    font-size: 16px;
  }
}
.content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-title:hover {
  text-decoration: underline !important;
}
.content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-author {
  font-size: 12px;
  color: #f07b3f;
}
.content-wrapper .content .thesis-list-box .thesis-box .thesis-item .thesis-abstract {
  font-size: 12px;
  color: #2d4059;
}/*# sourceMappingURL=main.css.map */